- namespace = locals.fetch(:namespace)
- projects = locals.fetch(:projects)

.pipeline-quota.container-fluid
  .row
    .col-sm-6
      %strong
        - last_reset = namespace.shared_runners_seconds_last_reset
        - if last_reset
          Usage since
          = last_reset.strftime('%b %d, %Y')
        - else
          Current period usage
      %div
        = namespace_shared_runner_limits_quota(namespace)
        minutes
    .col-sm-6.right
      - if namespace.shared_runners_minutes_limit_enabled?
        #{namespace_shared_runner_limits_percent_used(namespace)}% used
      - else
        Unlimited
      = namespace_shared_runner_limits_progress_bar(namespace)

  = render 'namespaces/pipelines_quota/extra_shared_runners_minutes_quota', namespace: namespace

%table.table.pipeline-project-metrics
  %thead
    %tr
      %th Project
      %th Minutes

  %tbody
    - projects.each do |project|
      %tr
        %td
          .avatar-container.s20.d-none.d-sm-block
            = project_icon(project, alt: '', class: 'avatar project-avatar s20')
          %strong= link_to project.full_name, project
        %td
          = project.shared_runners_minutes
    - if projects.blank?
      %tr
        %td{ colspan: 2 }
          .nothing-here-block This group has no projects which use shared runners

= paginate projects, theme: "gitlab"
