- @no_breadcrumb_container = false
- @no_container = false
- @content_class = "limit-container-width" unless fluid_layout

- epic_reference = @epic.to_reference
- add_to_breadcrumbs _("Epics"), group_epics_path(@group)
- breadcrumb_title epic_reference

- page_title           "#{@epic.title} (#{epic_reference})", _("Epics")
- page_description     @epic.description

- page_card_attributes @epic.card_attributes

#epic-app-root{ data: epic_show_app_data(@epic, author_icon: avatar_icon_for_user(@epic.author), initial: issuable_initial_data(@epic)) }

.content-block.content-block-small.emoji-list-container.js-noteable-awards
  = render 'award_emoji/awards_block', awardable: @epic, inline: true

.epic-tabs-holder
  .epic-tabs-container.js-epic-tabs-container
    .scrolling-tabs-container.inner-page-scroll-tabs.is-smaller
      .fade-left= icon('angle-left')
      .fade-right= icon('angle-right')
      %ul.epic-tabs.nav-tabs.nav.nav-links.scrolling-tabs
        %li.notes-tab.qa-notes-tab
          %a#discussion-tab.active{ href: '#discussion', data: { toggle: 'tab' } }
            = _('Discussion')
        %li.roadmap-tab
          %a#roadmap-tab{ href: '#roadmap', data: { toggle: 'tab' } }
            = _('Roadmap')
    .d-inline-flex.flex-wrap
      #js-vue-discussion-filter{ data: { default_filter: current_user&.notes_filter_for(@epic),
        notes_filters: UserPreference.notes_filters.to_json } }

.tab-content.epic-tabs-content.js-epic-tabs-content
  #discussion.tab-pane.show.active
    .row
      %section.col-md-12
        %script.js-notes-data{ type: "application/json" }= initial_notes_data(true).to_json.html_safe
        .issuable-discussion
          = render 'discussion'
  #roadmap.tab-pane
    .row
      %section.col-md-12
        #js-roadmap{ data: { epics_path: group_epics_path(@group, parent_id: @epic.id, format: :json),
          group_id: @group.id,
          empty_state_illustration: image_path('illustrations/epics/roadmap.svg'),
          has_filters_applied: 'false',
          new_epic_endpoint: group_epics_path(@group),
          preset_type: roadmap_layout,
          epics_state: 'all',
          sorted_by: roadmap_sort_order,
          inner_height: '600',
          child_epics: 'true' } }
